.home-category-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categories-label{
  color: $color-light;
  margin: 0 20px;
  display: block;
}

.category-link{
  color: $color-light;
  padding: 5px;

  &:hover{
    color: $color-main;
  }
}