.home-category-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categories-label{
  color: $color-light;
  margin: 0 20px;
  display: block;
  font-family: $font-source;
  font-size: 24px;
}

.category-link{
  color: #FFF;
  font-size: 20px;
  padding: 5px;
  line-height: 2;
  font-family: $font-source;

  &:hover{
    color: $color-main;
  }
}

@media screen and (max-width: 425px){
  .categories-label{
    font-size: 18px;
  }
}