.song-title{
  text-align: center;
  color: $color-light;
  font-family: $font-source;
  font-weight: $font-semibold;
  font-size: 26px;
}

.song-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.song-description{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.song-description > p {
  font-size: 18px;
  margin: 15px 20px;
  font-weight: $font-regular;
  font-family: $font-source;
  color: $color-light-grey;
}

.hidden {
  display: none;
}

.green-audio-player .slider .gap-progress .pin{
  background-color: $color-main;
}

audio{
  display: none;
}

@media screen and (max-width: 425px){
  .green-audio-player{
    max-width: fit-content;
  }

  .song-description > p {
    font-size: 14px;
  }
}